.header {
    height: 140px;
    background-color: blueviolet;
    color: white;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 20px;
}